@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
nav {
    align-items:center;
    display:flex;
    flex-wrap: wrap;
    font-size:18px;
    margin-right: 40px;
    justify-content:space-between;
    background: #fff;
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
}

nav .logo {
    margin-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav li{
    margin: 20px;
}
nav a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;

   
}

nav a:hover{
    color: black;
    text-decoration:underline;
}

nav img {
    height: 80px;
    margin: 30px;
}

.slider img{
    width: 100%;
    height: auto;
}
    
.btn2 a {
    position: absolute;
    color: #fff;
    top:75%;
    transform: translate(350%, 350%);/*arreglar*/
    background-color:red;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 50px;
    margin-right: 20px;
    margin-left: 0% !important;
}


.conoce_mas{
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
}

.text h1{
    color: #262123;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 72px;
    text-align: start;
}

.text h2{
    font-size: 30px;
    line-height: 45px;
    margin: 120px 0px 24px;
    font-weight: 800;
}

.text p{
    font-size: 30px;
    line-height: 40px;

    margin-top: 10px;
}

.conoce_mas img{
    width: 50%;
    height: auto;
}



.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px; 
    margin: 100px;
  }
  
  .row {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  

  .row img {
    width: 100%;
    height: auto;
    transition: all 0.40s;
    border-radius: 20px;
  }

.row {
    position: relative;
    display: inline-block;
}

.row .card {
    display: block;
    width: 100%;
    height: 200px;
}


.row img:hover{
    transform: scale(1.05); 
}

#churroenmano{
    border-radius: 25px;
    height: 680px;
    margin: 20px;
}




